<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reg numbers</title>
	<link rel="stylesheet" href="/css/registration_number.css">
</head>

<body>

	<div class="container">
		<div>
			<h2 style="content: center;">REGISTRATION NUMBERS WEBPAGE</h2>
			<h4>Format Example: <br> <br> ND 154-876 For Durban <br> NU 154-876 For Pine Town <br> CY 154-876 For Bellville</h4>
			<div>
				{{#if messages.info}}
				<div class="entry">
					<p class="message" id="infoMessage"> {{messages.info}}</p>

				</div>
				<script
					type="text/javascript">window.setTimeout("document.getElementById('infoMessage').style.display='none';", 3000); </script>
				{{/if}}
			</div>
			<form action="/registr" method="POST">
				<input type="text" name="setReg" maxlength="10" class="regNumberEntered" placeholder="Registration Number Here">
				<button class="addRegNumber btn blue" type="submit">Add</button>
			</form>

			<div class="message">

				{{#if messages.success}}
				<div class="entry">
					<p class="success_message" id="successMessage"> {{messages.success}}</p>

				</div>
				<script
					type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 3000); </script>
				{{/if}}
			</div>
			<br>
			<form action="/filter" method="POST">

				<strong>Select City/Town</strong>
				<br>
				
				<input type="radio" name="town" value="">Show all 
				<input type="radio" name="town" value="ND"> Durban 
				<input type="radio" name="town" value="NU"> Pine Town 
				<input type="radio" name="town" value="CY"> Bellville 
				<br>

				<button class="filter btn" type="submit">Show</button>
			</form>
		</div>
		<hr>
		<div class="regNumbers">

			<div class="regNumber">

				{{#each reg_number}}
				<li>{{registration_num}}</li>

				{{/each}}

			</div>
		</div>

		{{#if messages.error}}
		<div class="entry">
			<p class="success_message" id="errorMessage"> {{messages.error}}</p>

		</div>
		<script
			type="text/javascript">window.setTimeout("document.getElementById('errorMessage').style.display='none';", 3000); </script>
		{{/if}}
	</div>

	<div class="reset btn"><a href="/reset" name="reset">Reset</a></div>


</body>

</html>