body {
	font-size: 1em;
	background-color: grey;
	font-family: 'Lato', Helvetica, sans-serif;
	color: #333447;
	line-height: 1.5;

}

.btn:hover {
	background-color: rgb(249, 250, 251);
}

.btn:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.btn:focus-visible {
	box-shadow: none;
}
.btn {
	margin: 1em;
	padding: 1em;

	background-color: grey;
	border: 1px solid rgb(209, 213, 219);
	border-radius: .1rem;
	/* box-sizing: border-box; */
	color: #111827;
	/* font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
	/* font-size: .875rem; */
	padding: .75rem 1rem;
	text-align: center;
	text-decoration: none #D1D5DB solid;
	text-decoration-thickness: auto;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

}



.reset {

	/* background-color: rgb(208, 213, 218); */
	width: 40px;
	margin-top: 260px;
	margin-left: 15em;

	background-color: grey;
	border: 1px solid rgb(209, 213, 219);
	border-radius: .1rem;
	/* box-sizing: border-box; */
	color: #111827;
	/* font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
	/* font-size: .875rem; */
	padding: .75rem 1rem;
	text-align: center;
	text-decoration: none #D1D5DB solid;
	text-decoration-thickness: auto;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.reset:hover {
	background-color: rgb(249, 250, 251);
}

.reset:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.reset:focus-visible {
	box-shadow: none;
}

/* h4{
} */

li{
	background-color: white;
	border: 0.3em black solid;
	border-radius: 0.60em;
	padding: 1em;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;
	list-style: none;
	object-fit: cover;
	display: inline;
}

input[type='radio'] {
	margin: 1em;
}

.message {
	font-weight: bold;
	font-size: 20px;
	color: red;

}

.success_message {
	font-weight: bold;
	color: red;
	font-weight: bold;
	font-size: 20px;
}



.filter {
	background-color: grey;
	border: 1px solid rgb(209, 213, 219);
	border-radius: .1rem;
	box-sizing: border-box;
	color: #111827;
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.25rem;
	padding: .75rem 1rem;
	text-align: center;
	text-decoration: none #D1D5DB solid;
	text-decoration-thickness: auto;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin-left: 15em;
}

.filter:hover {
	background-color: rgb(249, 250, 251);
}

.filter:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.filter:focus-visible {
	box-shadow: none;
}

a {
	color: black;
}



.container {
	width: 90%;
	margin: auto;

}

.box {
	padding: 0.40em;
	height: 870px;
	width: 650px;
	margin-bottom: 1em;
	margin-top: 20px;
	padding-right: 10px;
	box-shadow: rgb(32, 31, 31) 0px 5px 10px 0px;
	border-radius: 00.5em;
}

.parts {
	display: flex;
	margin-right: 2em;
}

.parts div {
	flex: 1;
}

.regNumberEntered {
	padding: 1em;

}

@media screen and (max-width: 480px) {

	.box {
		padding: 0.40em;
		border-radius: 0.5em;
		border: 1px solid rgb(0, 0, 0);
		height: 730px;
		width: 300px;
		margin-bottom: 1em;
		margin-top: 20px;
		padding-right: 10px;
	}
}